<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Connector_SFTP_GUI_Prototip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Connector_SFTP_GUI_Prototip.Properties.Settings>
            <setting name="HashProgrammPassword" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="LocalFolderPath" serializeAs="String">
                <value>C:\Users\User\source\test</value>
            </setting>
            <setting name="CsvTaskFilePath" serializeAs="String">
                <value>csvList.csv</value>
            </setting>
            <setting name="CsvLogFilePath" serializeAs="String">
                <value>csvLog.csv</value>
            </setting>
            <setting name="CsvExcListPath" serializeAs="String">
                <value>csvExc.csv</value>
            </setting>
        </Connector_SFTP_GUI_Prototip.Properties.Settings>
    </userSettings>
</configuration>